body {
	padding-left: 10px;
}

.roCell {
	color: black;
	background-color: #F5F5F5 !important;
}


.angucomplete_highlight {
	color: red;
}

.metadata_cell {
	background-color: rgba(204, 224, 235, 0.58) !important;
}

.dataset_release_cell {
	/*background-color: rgba(150, 235, 0, 0.27) !important;*/
}